.arrow_back {
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    margin-left: 130px;
    margin-top: 430px;
}

.portfolio {
    margin-left: 1080px;
}

.text_style2 {
    font-weight: 500;
    font-size: 43px;
}

.about_me_rectangle {
    width: 580px;
    height: 300px;
    background-color: white;
    border-radius: 13px;
    margin-top: 80px;
    margin-left: 130px;
}


.dotes {
    font-size: 52px;
    align-items: center;
    margin-top: 80px;
    margin-left: 660px;
}

.access {
    font-size: 30px;
    margin-left: 425px;
    margin-top: 95px;
}

.access_people {
    font-size: 26px;
    align-items: center;
    color: #5F5A5A;
}

.access_rectangle {
    width: 270px;
    height: 120px;
    background: #D3EDFE;
    border: 1px solid #000000;
}

.access_line {
    width: 269px;
    border: 1px solid #000000;
}

.big_rectangle {
    width: 20px;
    height: 66px;
    margin-left: 915px;
    margin-top: 87px;
}

.small_rectangle {
    width: 20px;
    height: 40px;
    margin-left: 915px;
    margin-top: 113px;
}