.blue_rectangle {
    display: flex;
    width: calc(100% - 30px);
    min-width: 350px;
    background-color: white;
    flex-wrap: wrap;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.header_text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: #000000;

}

.personal_data_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue; /* Синий цвет фона */
    padding: 10px; /* Добавляем отступы, чтобы увеличить размер прямоугольников */
    color: white; /* Белый цвет текста внутри прямоугольников */
    text-align: center;
    width: 48%; /* Ширина каждого прямоугольника (по желанию) */
}

.numbers {
    font-weight: 600;
    font-size: 61px;
    padding-top: 25px;
    display: block;
}

.arrow{
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
}

.arrow_next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.line {
    width: 60px;
    height: 5px;
    background-color: black;
}
