.search-container {

}

.search {
    display: flex;
    width: 250px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #FFFFFF;
    border: 1.5px #748AB9 solid;
    border-radius: 10px;
}

.search:hover, .search:active, .search[data-hover], .search:focus, .search:valid {
    outline-color: #748AB9;
    border-color: #748AB9;
}

.select-container {

}

.select {

}

.show_full_list {
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 15px;
    height: 40px;
    background-color: #1A86FB;
}

.show_full_list[disabled] {
    background-color: gray;
    cursor: not-allowed;
}