.header {
    position: fixed;
    width: 73%;
    height: 8%;
    margin-left: 20%;
    margin-top: 3%;
    background-color: #E2EFF7;
}

.tasks {
    position: fixed;
    margin-top: 1%;
    margin-left: 1%;
}

.time_tasks {
    position: fixed;
    width: 10%;
    height: 6%;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 0.5%;
    font-size: 1vw;
}

.time_day {
    margin-left: 13%;
}

.time_month {
    margin-left: 26%;
}

.time_quartal {
    margin-left: 39%;
}

.time_day_text {
    margin-left: 31%;
    margin-top: 5%;
}

.time_month_text {
    margin-top: 5%;
    margin-left: 26%;
}

.time_quarter_text {
    margin-top: 5%;
    margin-left: 24%;
}

.tasks_rectangle {
    position: fixed;
    width: 73%;
    height: 59%;
    margin-left: 20%;
    margin-top: 8%;
    background-color: #E2EFF7;
}


.add {
    position: fixed;
    width: 3%;
    height: 6%;
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 10px;
}

.plus {
    position: fixed;
    margin-top: -0.4%;
    margin-left: 0.6%;
    font-size: 2.5vw;
}

.add_task {
    font-size: 1.5vw;
    position: fixed;
    margin-top: 1.4%;
    margin-left: 5%;
}

.any_task {
    position: fixed;
    width: 20%;
    height: 7%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.first_task {
    margin-top: 4.5%;
    margin-left: 1%;
}

.text_in_task {
    font-size: 1vw;
}

.first_task_text {
    margin-left: 4%;
    margin-top: 4%;
}

.change_tick {
    position: fixed;
    background-color: white;
    height: 5%;
    width: 2.5%;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 5%;
}

.tick {
    margin-left: 23%;
}

.change_text {
    margin-left: 28%;
}

.new_changes {
    width: 1000%;
    height: 8%;
    resizeMode: 'contain';
    margin-left: 41%;
    margin-top: 1%;
    margin-bottom: 2%;
}