.data_white_container {
    display: flex;
    width: calc(100% - 40px);
    height: auto;
    background-color:white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    overflow-y: auto;
    justify-content: flex-start;
}

.profile-photo-wrapper {
    display: flex;
    width: 180px;
    height: 130px;
}

.profile-photo {
    display: flex;
    width: 150px;
    height: 180px;
    background-color: #D9D9D9;
}

.user-text-data-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 25px;
    row-gap: 16px;
    flex-wrap: wrap;
    padding-left: 20px;
}

.data-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-field {
    display: flex;
    width: 500px;
    height: 25px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.container-about-me {
    display: flex;
    width: 500px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-start;
}

.data-content-header {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    text-decoration: none;
}