@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #C2E1F6;
    padding-right: 30px;
    padding-left: 30px;
}

.profile-header {
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-header-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    display: flex;
}

.profile-content-navbar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 210px;
    height: calc(100% - 80px);
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 10px;
}

.main-part {
    position: fixed;
    margin-left: 210px;
    width: calc(100% - 210px);
    height: calc(100% - 80px);
    min-width: 10rem;
    padding-right: 30px;
    background-color: #C2E1F6;
    overflow: auto;
}

.data_white_container {
    flex-direction: column;
    display: flex;
    height: auto;
    width: calc(100% - 110px);
    min-width: 275px;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.circle {
    display: flex;
    background-color: #1A86FB;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header-text-left {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5;
    color: #000000;
    text-decoration: none;
}

.footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px; /* Padding around the footer content */
    text-align: center; /* Center-align the text in the footer */
}

