.choose_time {
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    height: 40px;
    background-color: white;
    border: 1.5px #748AB9 solid;
    border-radius: 10px;
}

.add_task {
    border-radius: 10px;
    border: none;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 15px;
    height: 40px;
    background-color: #1A86FB;
}

.task_selector_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 110px);
    min-width: 275px;
    column-gap: 20px;
    height: auto;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tasks_text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.14;
    color: #000000;
}

.add_task_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.task_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 5px;
    border-radius: 8px;
    padding: 10px;
    min-width: 200px;
    min-height: 100px;
    width: auto;
    height: auto;
    background-color: #748AB9 ;
    margin-right: 10px;
    margin-bottom: 12px;
}

.task_item {
    display: flex;
    column-gap: 50px;
}

.actions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 10px;
}


.remove_task {
    background-color: #FF0C0C;
    border-radius: 10px;
    border: none;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    height: 40px;
    font-size: 15px;
}


